
.navbar{
    display: flex;
    width: 95vw;
 	align-items: center;
	padding-bottom: 0.5rem;
	padding-top: 1rem;
	border-bottom: 2px solid var(--c-gray-600);
	@media (max-width: 1200px) {
		border-bottom: 0;
    }
}

.logoIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
}

.logoTitle {
	display: flex;
	flex-direction: column;
	line-height: 1.25;
	margin-left: 0.75rem;
	span:first-child {
		color: var(--c-text-primary);
	}
	span:last-child {
		color: var(--c-text-tertiary);
	}
}

.dropdownField {
	display: flex;
	flex-grow: 1;
	position: relative;
	select {
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		background-color: transparent;
		padding-right: 1.5rem;
		appearance: none;
		color: var(--c-text-tertiary);
		width: 100%;
	}

	span {
		position: absolute;
		right: 0;
		top:55%;
		transform: translateY(-50%);
	}
}