.table{
    margin: 1rem;;
}

.seatNumberStyle{
    width: 3rem;
}

.tdStyle{
    width:9.25rem;
    overflow-x: scroll;
    font-weight: 300;
}

.inputStyle{
    color:white;
    max-width:9.25rem;
    overflow-x: hidden;
    font-size: 0.9rem;
}

.emailInputStyle{
    max-width: 11rem;
}

.btnGroup{
    display: flex;
    gap:.35rem
}

button:hover {
    color: black;
    background-color: #45ffbc;
}

button a {
    text-decoration: none;
}

.btnCancel  {
    &:hover {
        background-color:#ff4588 ;
    }
}

.btnDelete  {
    &:hover {
        background-color:#f73542 ;
    }
}